.corazon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  background-color: red;
  /* Lo rotamos y lo centramos matemáticamente */
  transform: translate(-50%, -50%) rotate(-45deg); 
}
/* Con ::before y ::after creamos los dos círculos de arriba */
.corazon::before,
.corazon::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%; /* Esto los transforma en círculos */
}

/* Movemos el primer círculo hacia arriba */
.corazon::before {
  top: -50px;
  left: 0;
}

/* Movemos el segundo círculo hacia la derecha */
.corazon::after {
  top: 0;
  left: 50px;
}